.main-header{
    border: 2px black solid;
    background-color: rgb(141, 174, 236);
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}