 .main{
     display: flex;
     height: 95vh;
     justify-content: flex-end;
 }

 .map-section{
     width: 75%;
 }

 .side-bar{
     width: 25%;
 }

.header{
    height: 5vh;
    display: block;
    margin: 0;
    padding: 0;
}